################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/generics_lab/ConsoleApp1/bin/Debug/netcoreapp2.1
